/reviewmt_train
/Data
.env
/old
__pycache__/
# Ignore __pycache__ folders in all subdirectories
**/__pycache__/
# Ignore compiled Python files
__pycache__/
*.pyc
chroma_db/*.sqlite3
chroma_db/*/length.bin
chroma_db/*/*.bin
chroma_db/*/*.pkl
chroma_db/f3140815-3eaf-4d96-ba10-beb0cc496219/length.bin
chroma_db/chroma.sqlite3
/data_loader/__pycache__/Data 
# System files
*.DS_Store

# Virtual environments
.venv*/
venv/

# Model checkpoints
bleurt_checkpoints/

# Output files
llm_only_pipeline/output.json
rag_pipeline/output.json